/*common*/
h2, p {
    margin-bottom: 20px;
}


/*btn*/
.btn {
    color: white;
    background-color: #363636;
    border-radius: 20px;
}

.btn-buy {
    background-color: #cd3d0f;
}

.btn:hover {
    color: white;
}


/*header top*/
.header-top {
    background-color: black;
}

.logo-h-top  {
    height: 20px;
    display: inline-flex;
}

.logo-h-top img {
    height: 100%;
}
/*fine header top*/

/*header bottom*/

header ul {
    width: 100%;
}

.lens {
    width: 30px;
}

.lens img {
    width: 100%;
}

.chevron {
    display: inline-block;
    width: 10px;
}

.chevron img {
    width: auto;
}

.chevron-hover {
    display: none;
}

header ul li:hover .chevron {
    display: none;
}

header ul li:hover .chevron-hover {
    display: inline-block;
}

/*fine header bottom*/

/*hero*/

.hero-banner {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
}

.hero-img {
    width: 200px;
    margin-bottom: 20px;
}

.hero-img img {
    width: 100%;
}

.padding-hero {
    padding: 200px 30px 50px 30px;
}

.immaginine {
    margin: 30px 0px;
    border-radius: 10px;
    max-width: 250px;
    overflow: hidden;
}

.immaginine img {
    width: 100%;
}