/*common*/
* {
    font-family: Arial, sans-serif;
}

h2, p {
    margin-bottom: 20px;
}

a {
    color: white;
}

a:hover {
    color: white;
}

.container-fluid {
    padding: 0 30px;
}

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
    background-color: #1f1f1f;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}

ul a {
    text-decoration: none;
}


/*btn*/
.btn {
    color: white;
    background-color: #363636;
    border-radius: 20px;
}

.btn-buy {
    background-color: #cd3d0f;
}

.btn-information {
    background-color: #2d64e6;
}

.btn:hover {
    color: white;
}

.ps-plus .btn  {
    color: #2d64e6;
    background-color: #d9dadc;
}

.ps-now .btn {
    color: black;
    background-color: #f5f5f5 ;
}

/*hover btn*/
.btn:hover {
    box-shadow: inset 0px 0px 0 2px white;
    opacity: .8;
    border: 1px solid black;
}

.btn-buy:hover {
    box-shadow: inset 0px 0px 0 2px black;
    opacity: unset;
    border: 1px solid #cd3d0f;
}
.btn-information:hover {
    border: 1px solid #2d64e6;
    opacity: unset;
}

.ps-now .btn:hover {
    box-shadow: inset 0px 0px 0 2px #161c3b;
    opacity: unset;
    border: 1px solid #fff;
}

.ps-plus .btn:hover {
    box-shadow: 0px 0px 5px 0px white;
    opacity: unset;
    border: none;
}



/*header fix*/ 
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
}

main {
    margin-top: 95px;
}


/*header top*/
.header-top {
    background-color: black;
}

.logo-h-top  {
    height: 20px;
    display: inline-flex;
}

.logo-h-top img {
    height: 100%;
}
/*fine header top*/

/*header bottom*/

.navbar {
    padding: 0;
}

header ul {
    width: 100%;
}

.lens {
    width: 30px;
}

.lens img {
    width: 100%;
}

.chevron {
    display: inline-block;
    width: 10px;
}

.chevron img {
    width: auto;
}

.chevron-hover {
    display: none;
}

header ul li:hover .chevron {
    display: none;
}

header ul li:hover .chevron-hover {
    display: inline-block;
}

/*fine header bottom*/

/*hero*/

.hero-banner {
    background-image: url(../img/jumbo-bg.png);
}

.hero-img {
    width: 200px;
}

.hero-img img {
    width: 100%;
}

.padding-hero {
    padding: 200px 30px 50px 30px;
}

.effect {
    box-shadow: 0 0 0 2px #2d64e6;
}

.immaginine {
    position: relative;
    border: 2px solid transparent;
    margin: 30px 0px;
    border-radius: 10px;
    max-width: 250px;
    overflow: hidden;
}

.immaginine img {
    width: 100%;
}

.boing:hover {
    animation: boing 1s linear forwards;
}

@keyframes boing {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 7px;
    }

    100% {
        bottom: 15px;
    }
    
}
/* fine hero*/ 

/*sezione ps5*/
.text-blue {
    color: #2d64e6;
    margin: 0;
}

.under-text {
    color: #7d7d7d;
}

.ps5-img {
    max-width: 550px;
} 

.ps5-img img {
    width: 100%;
}

.accessories-ps5-img {
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    max-width: 200px;
}

.accessories-ps5-img img {
    width: 100%;
}

.line-blu {
    height: 2px;
    width: 100%;
    background-color: #2d64e6;
}

.shadow-effect {
    opacity: 0.4;
}

.shadow-effect:hover {
    transition: 1s;
    opacity: 1;
}
/*fine sezione ps5*/

/*sezione banner*/
.banner-banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.banner.banner-banner {
    margin-bottom: 20px;
}
/*fine banner*/

/*ps4*/
.img-ps4 {
    max-width: 800px;
}

.img-ps4 img {
    width: 100%;
}

/*ps-plus*/
.ps-plus {
    background-color: #bebcbb;
}

.img-ps-plus {
    max-width: 400px;
}
.img-ps-plus img {
    width: 100%;
}
.img-ps-plus-banner{
    max-width: 600px;
}
.img-ps-plus-banner img {
    width: 100%;
}

/*sezione sconti */
.img-discount, .img-discount img {
    width: 100%;
}

/*ps-now*/
.ps-now {
    background-color: #161c3b;
    color: white;
}
/*social*/
.social-img {
    max-width: 100px;
    margin: 0 5px;
}

.social-img img {
    width: 100%;
}

/*footer*/
footer {
    background-color: #2d64e6;
    color: white;
}

.ps-logo {
    height: 80px;
}

.ps-logo img {
    height: 100%;
}


.globe-img {
    width: 16px;
}

.globe-img img {
    width: 100%;
}

.img-sie  {
    width: 150px;
}








