/*common*/
h2, p {
    margin-bottom: 20px;
}

.container-fluid {
    padding: 0 30px;
}

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
    background-color: #1f1f1f;
}


/*btn*/
.btn {
    color: white;
    background-color: #363636;
    border-radius: 20px;
}

.btn-buy {
    background-color: #cd3d0f;
}

.btn-information {
    background-color: #2d64e6;
}

.btn:hover {
    color: white;
}

.ps-plus .btn  {
    color: #2d64e6;
    background-color: #d9dadc;
}


/*header top*/
.header-top {
    background-color: black;
}

.logo-h-top  {
    height: 20px;
    display: inline-flex;
}

.logo-h-top img {
    height: 100%;
}
/*fine header top*/

/*header bottom*/

header ul {
    width: 100%;
}

.lens {
    width: 30px;
}

.lens img {
    width: 100%;
}

.chevron {
    display: inline-block;
    width: 10px;
}

.chevron img {
    width: auto;
}

.chevron-hover {
    display: none;
}

header ul li:hover .chevron {
    display: none;
}

header ul li:hover .chevron-hover {
    display: inline-block;
}

/*fine header bottom*/

/*hero*/

.hero-banner {
    background-image: url(../img/jumbo-bg.png);
}

.hero-img {
    width: 200px;
}

.hero-img img {
    width: 100%;
}

.padding-hero {
    padding: 200px 30px 50px 30px;
}

.immaginine {
    margin: 30px 0px;
    border-radius: 10px;
    max-width: 250px;
    overflow: hidden;
}

.immaginine img {
    width: 100%;
}
/* fine hero*/ 

/*sezione ps5*/
.text-blue {
    color: #0072ce;
    margin: 0;
}

.under-text {
    color: #7d7d7d;
}

.ps5-img {
    max-width: 550px;
} 

.ps5-img img {
    width: 100%;
}

.accessories-ps5-img {
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    max-width: 200px;
}

.accessories-ps5-img img {
    width: 100%;
}
/*fine sezione ps5*/

/*sezione banner*/
.banner-banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.banner.banner-banner {
    margin-bottom: 20px;
}
/*fine banner*/

/*ps4*/
.img-ps4 {
    max-width: 800px;
}

.img-ps4 img {
    width: 100%;
}

/*ps-plus*/
.ps-plus {
    background-color: #bebcbb;
}

.img-ps-plus {
    width: 400px;
}
.img-ps-plus img {
    width: 100%;
}
.img-ps-plus-banner{
    width: 600px;
}
.img-ps-plus-banner img {
    width: 100%;
}




